body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: white;
    font-weight: 400;
    margin-bottom: 30px;
}

.container-fluid {
    padding: 60px 50px;
}


.navbar {
    margin-bottom: 0;
    background-color: #09f2d7;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: skyblue !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.middle{
    height: 400px;
    background: green;    
    background: -webkit-linear-gradient(left, skyblue , #09f2d7);
    background: -o-linear-gradient(right, skyblue, #09f2d7);
    background: -moz-linear-gradient(right, skyblue, #09f2d7);
    background: linear-gradient(to right, skyblue, #09f2d7);
}
